@import "../../../../styles/var";

.root {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: $color-text-nav;
  &:hover {
    color: $brand-primary;
  }
}

.ico {
  font-size: 0.42rem;
  display: block;
  margin-bottom: 0.06rem;
}

.text {
  display: block;
  line-height: 1;
  font-size: 0.18rem;
}
