@import "../../../styles/var";

.root {
  position: fixed;
  z-index: 50;
  bottom: 0;
  background-color: $fill-nav;
  height: 0.98rem;
  max-width: $max-width;
  width: 100%;
  display: flex;
}

.home, .hot, .me {
  color: $brand-primary;
  &:hover, &:active {
    color: $brand-primary;
  }
}

.home i:before {
  content: "\e913";
}

.hot i:before {
  content: "\e915";
}

.me i:before {
  content: "\e917";
}